-e git+https://github.com/phovea/phovea_server.git@vstoiber/logging_behaviour_and_dependencies#egg=phovea_server
-e git+https://github.com/phovea/phovea_processing_queue.git@vstoiber/update_requirements#egg=phovea_processing_queue
